/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* RESET CSS */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* welcome form */

html{background-color:#FFF;}
html.logged_in{background-color: #f5efe6;}
input[type=text] {padding: 3px;}
body, h1, h2, h3, h4, p{font-family: "Proxima Nova", "Lucida Grande", Helvetica, sans-serif; background:transparent;}
h1 {margin:45px 0 0;text-align:center;font-weight:bold;font-size:36px;}
h4{margin:30px 0;line-height:30px;font-weight:400;text-align:center;}
a {color: #0066cc;}

/* HEADER */
.header { margin:15px 0 0 0;}
.header_controls {text-align:center;}
.header_controls a {font-size:16px;line-height:32px;}

/* FOOTER */
.footer {margin:55px 0 0 0;border-top:1px solid gray;}
.footer p { text-align:center;padding:14px 0;}

/* FLASH MESSAGES */
.alert {margin-top:15px;}
.alert-success {}

/* PROJECTS PAGE */

.new_project { margin-top:15px; }
.project_tile {   
    width: 210px;
    height: 235px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    text-align: left;
    background: #fff;
    padding: 15px;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.project_tile a {
    height:100%;
    font-size: 19px;
    margin: 0 0 3px;
    line-height: 1.1em;
    word-wrap: break-word;
    color:#333;
}
.project_tile_full h1 {
    height:100%;
    font-size: 24px;
    margin: 0 0 3px;
    line-height: 1.1em;
    word-wrap: break-word;
    color:#333;
    text-align:left;
}
.project_tile_full {   
    width: 695px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    text-align: left;
    background: #fff;
    padding: 15px 15px 25px;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.project_container h2 {    
	color: #aa9c84;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    margin: 0 0 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project_container h5 {   
	 font-size: 19px;
    margin: 0 0 3px;
    line-height: 1.1em;
    word-wrap: break-word;
}
.project_tile .description{
    max-height: 39px;
    overflow: hidden;
    margin-bottom: 5px;
}
.project_tile p {
	font-size: 16px;
    line-height: 1.2em;
    word-wrap: break-word;
    color: #aa9c84;}

.all_projects{
    color:#FFF;
}
.all_projects:hover {
    color:#FFF;
    text-decoration: none;
}


/* PROJECT SPECIFIC */
.project_tile_full{
    .body{
        border-top:1px dashed gray;
        margin:20px 0;
    }
    h4 {
        text-align:left;
        margin:5px 0;
        padding:0; 
    }
    h3 {
        text-align:left;
        margin:15px 0;
        padding:0; 
        font-size:18px;
    }    

}
/* TODO ON PROJ PAGE */
.add_todo{padding:0 0 0 25px;cursor: pointer;font-size:16px;}
.add_tdl_button{font-size:12px; margin:0 0 0 10px;}
.new_tdl_form {display:none;}
.new_tdli_form {display:none;}

.tdli{margin:0 10px;padding:0;}
.tdli_container {margin:0 0 15px 0;}

.completed_check { text-decoration:line-through; }
li.tdli {}