<div class="header col-xs-10">
  <div class="col-xs-4">
  	<p style="font-size:24px;">LOGO</p>
  </div>	
  <div class="col-xs-3 col-xs-offset-5 header_controls">
	<% if user_signed_in? %>
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	<% else %>
	  <%= link_to('Login', new_user_session_path)  %>  
	<% end %>
  </div>
</div>